@font-face{
    font-family: "segoeuiVar";

    src: url("font/SegUIVar.woff2") format("woff2");
}

html{
    box-sizing: border-box;
    font-family: 'segoeuiVar';
    background-color: black;
}
h1,h2,p{
    margin:0;
    padding: 0;
}
body{
    margin:0;
    padding:0;
    height: 100vh;
    /* border:2px red solid; */
    
}

/* loader animation */

#loader {

    position: fixed;

    background-color: rgb(3, 3, 3);

    text-align: center;

    width: 100%;

    min-height: 100vh;

    z-index: 9999;

    display: flex;

    justify-content: center;

    align-items: center;

    cursor: progress;

}


#loader #logo_épuré {



    width: 15vw;



}



#loader #logo_épuré rect {

    stroke-dasharray: 1300px;

    stroke-dashoffset: 1300px;

    fill: 'white';

    fill-opacity: 0;

    animation: animlogo 3s forwards, cle 2s 2.5s forwards;

}



#loader #logo_épuré polygon {

    stroke-dasharray: 2900px;

    stroke-dashoffset: 2900px;

    fill-opacity: 0;

    animation: animlogo 3s forwards, fillopacite 1s 4.5s forwards;

}



#loader #logo_épuré #J {

    stroke-dasharray: 6100px;

    stroke-dashoffset: 6100px;

    fill-opacity: 0;

    animation: animlogo 3s forwards, fillopacite 1s 4.5s forwards;

}



@keyframes animlogo {

    to {

        stroke-dashoffset: 0;

    }

}



@keyframes cle {

    25% {

        fill-opacity: 1;

        transform: rotate(0deg);

        transform: translate(0px);

    }



    35% {

        fill-opacity: 1;

        transform: rotate(0deg);

        transform: translate(0px);

    }



    90% {

        transform: translate(500px);

        fill-opacity: 1;

        /* transform: rotate(5deg); */



    }



    to {

        transform: translate(0px);

        fill-opacity: 1;

        /* transform: rotate(5deg); */



    }



}



@keyframes fillopacite {

    to {

        fill-opacity: 1;

    }

}



/* fin animation */

#background{
    position: absolute;
    width: 100vw;
    height : 100vh;
    background-image: url("img/ai.jpg");
    background-size:cover;
    opacity:0.8;
    z-index: 1;
}

a{
    z-index: 999;
}

header section{
    /* border:2px yellow solid; */
    display: flex;
    
    align-items: center;
    justify-content: space-between;

    padding-left: 5vw;
    padding-right: 5vw;
    

    height: 30vh;
    z-index: 999;
}

header section div{
    /* border:2px blue solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

header section img{
    width: 10vh;
    z-index: 999;
    
    /* margin-left: 5vw; */
}

header section h1{
    
    font-size: 2em;
    color:white;
    text-shadow: 1px 1px 0px black;
    /* border:2px purple solid; */
    z-index: 999;
}

header section h2{
    font-size: 1em;
    color:white;
    text-shadow: 1px 1px 0px black;
    /* border:2px purple solid; */
    z-index: 999;
}

header section nav{
    color:white;
    font-weight:600;
    width: 5vw;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    
}

main{
    height: 40vh;
    display: flex;
    align-items: center;
    color:white;


    
}

main section{
    margin-left: 10vw;
    text-shadow: 0px 0px 0px black;
    

    z-index: 999;
}

main section h2{
    font-weight: bold;
    font-size : 7vw;
    
    z-index: 999;
}

main section:hover{
    text-shadow: 0px 2px 2px black;
}

main section div{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.2em;
}

#mons{
    display:block;
}



#carimersive, #windingpath,#mons,#lauracraft, #vdi, #creathon,#AI, #other{
    display: none;
}
#contactindex{
    z-index: 999;
    margin-left: 10vw;
    margin-top: 10vh;
    width: 40vw;
}

#contactindex a{
   
    display: flex;
    transition: 1s;
    font-weight: lighter;
    
}

#contactindex span{
    margin-right: 5px;
    z-index: 999;
    font-weight: lighter;
    
}
#contactindex p{
    z-index: 999;
}


/* menu deployed */
#deployedmenu{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index:99999;
    color:white;

   display:none;
}

#deployedmenu span{
    position:absolute;
   top:14vh;
   left:95vw;
}

#deployedmenu section{
    display: flex;
    width: 100vw;
    height: 100%;
    align-items: center;
    justify-content:space-around;
}

#deployedmenu aside{
    font-size:3em;
}

/* Lien */

#menu:hover{
    cursor:pointer;
    font-weight: bold;
}

#deployedmenu span:hover{
    cursor:pointer;
    font-weight: bold;
}

a{
    text-decoration: none;
    color:white;
}

#deployedmenu h2:hover{
    text-decoration: underline;
    transition: 2s;
}

#contactindex a:hover{
    transition: 0.3s;
    font-weight: bold;
}


/* responsive */

@media (orientation:portrait) {
    header section h1,header section h2{
        display: none;
    }

    header section{
        justify-content: space-evenly;
        padding:0;
    }
    header section img{
        width: 10vw;
    }

    main section h2{
        font-size: 2em;
    }
    main section p{
        font-size: 0.8em;
    }

    main section div{
        width: 75vw;
        flex-direction: column;
        align-items: flex-start;
    }

    #deployedmenu section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #deployedmenu aside{
        font-size: 5vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 60vh;
    }

    #deployedmenu article{
        display: none;
    }

    #deployedmenu span{
        position:absolute;
       top:5vh;
       left:45vw;
       font-size: 10vw;
    }
    #background{
        background-position: center;
    }
}